.pregunta1{
    background-color: aqua;
}
.content-div{
    border: 1px solid black;
}
.pregunta2{
    background-color: lightgreen;
}
.pregunta3{
    background-color: lightblue;
}
.pregunta4{
    color: red;
}
.pregunta5{
   color: magenta;
}
.pregunta6{
    color: blue;
}